/******************/
/* Carousel Frame */
/******************/

.panel-heading,
.panel-footer {
  background-color: black;
}
.panel-heading h1,
.panel-footer h1 {
  color: #FFF0F5;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-caption {
  background-color: rgba(119, 129, 134, 0.8);
  border-radius: 5px;
}

.shadow-heavy {
  text-shadow: 1px 1px 2px black,
               0 0 1em black,
               0 0 0.8em black,
               0 0 0.5em black,
               0 0 0.2em black;
}


/**********/
/* Modals */
/**********/

.modal-footer .btn-group-vertical .btn + .btn {
  margin-left: 0px;
}

.modal-footer .btn-group-vertical + .btn-group-vertical {
  margin-top: 5px;
}


/**********/
/* Slides */
/**********/

.slide-title + .slide-buttons {
  margin-top: 20px;
}
