{% if slide.publication.pubmed_url %}
  <a href="{{ slide.publication.pubmed_url }}" class="btn btn-primary" target="_blank">PubMed</a>
{% endif %}

{% if slide.publication.url %}
  <a href="{{ slide.publication.url }}" class="btn btn-success" target="_blank">
    {{ slide.publication.journal }}
  </a>
{% endif %}

{% if slide.publication.pdf %}
  <a href="{{ slide.publication.pdf.url }}" class="btn btn-warning" target="_blank">PDF</a>
{% endif %}

{% if slide.page_link %}
  <a
      href="{{ slide.page_link.get_absolute_url }}{% if slide.page_link_anchor %}#{{ slide.page_link_anchor }}{% endif %}"
      class="btn btn-{{ slide.page_link_color }}"
      {% if slide.page_link_target %}
        target="_blank"
      {% endif %}>
        {{ slide.page_link_label|default:slide.page_link.get_title }}
  </a>
{% endif %}

{% if slide.other_url %}
  <a href="{{ slide.other_url }}" class="btn btn-{{ slide.other_url_color }}" target="_blank">
    {{ slide.other_url_label|default:'<span class="glyphicon glyphicon glyphicon-link"></span>' }}
  </a>
{% endif %}

{% if slide.image_is_downloadable %}
  <a href="{{ slide.image_url }}" class="btn btn-default" alt="Download Image"target="_blank">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Image
  </a>
{% endif %}
